h1{
    font-size: 20pt;
    text-transform: uppercase;
    font: Georgia, sans-serif;
}

h2{
    font-size: 15pt;
    font-weight: bold;
}

article li{
    list-style-type: square;
}

img{
    width: 100%;
    border: 1px solid grey;
    padding: 3px;
}

/*oldal szerkezes kialakítása*/

header, nav, aside, article, footer{
border: 1px solid gray;
padding: 10px;
}

*{
    box-sizing: border-box;

}

main{
width: 80%;
margin:0 auto; /*Középre igazítás*/
/* text-align: center;szöveg középre igazítás */
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-areas:
    "h h h h"
    "n n n n"
    "as ar ar ar"
    "f f f f"
;

grid-gap: 10px;
}

header{
    grid-area: h;
}

nav{
    grid-area: n;
}

aside{
    grid-area: as;
   
}

article{
    grid-area: ar;
    
}

footer{
    grid-area: f;
}

/* Menü kialakítása */
nav li{
    list-style-type: none;

}

nav a{
    text-decoration: none;
    background-color: palevioletred;
    text-align: center;
    display: block;
    border-radius: 10px;
}

nav ul{
    padding-left: 0;
    display: grid;
    grid-template-columns: 20% 20%;
    grid-gap: 2px;
}

nav a:hover{
    background-color: green;
    color: purple;
}